#inner-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-bottom: 1em;
  color: #fff;
}
footer a {
  color: #fff;
}
